<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "FizzBuzz" %></h1>
  <p>Fizz buzz is a group word game for children to teach them about division. Players take turns to count incrementally, replacing any number divisible by three with the word "fizz", and any number divisible by five with the word "buzz".</p>
  <p>--Wikipedia</p>

  <form phx-submit="start">
    <button type="submit" phx-disable-with="Searching...">Let's start</button>
  </form>
</section>


</section>
